name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Build
      run: dotnet build
    - name: Publish Self-Contained
      run: dotnet publish -c Release -o ./artifacts --self-contained true --runtime win-x64
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: MinecraftAFKFish
        path: ./artifacts
